.container {
  background-color: var(--color-black-light);
  height: 100vh;
}

.register__header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.4rem;
  background-color: var(--color-blue);
  color: #fff;
  z-index: 2;
}

.register__header h2 {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.2rem;
}

.fa-arrow-left {
  font-size: 1.4rem;
}

.new_user {
  position: absolute;
  padding-top: 4rem;
  width: 100%;
  top: 0;
}

.field {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
}

.field__input {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-black-light);
}

.submit-btn {
  width: auto;
  border: none;
  font-size: 1.2rem;
  position: absolute;
  right: 0.8rem;
  top: 0.9rem;
  background: none;
  color: #fff;
  text-transform: capitalize;
  z-index: 2;
}

.links {
  position: relative;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-black-mid);
}

.container a {
  font-size: 1rem;
}

#error_explanation {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}

.alert-danger {
  font-size: 1rem;
  color: #fff;
  background-color: red;
  padding: 1rem;
  width: 100%;
}

.field_with_errors {
  width: 100%;
}
