<h1>Hello operations</h1>

<%= link_to groups_path do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
<% end %>
<%= link_to destroy_user_session_path do %>
  <i class="fas fa-sign-out-alt"></i>
<% end %>